.layout {
  background-color: #f6f6f6;
}
.maincontainer {
  display: flex;
  background-color: #fafafa;
  gap: 1rem;
  padding: 1rem;
}

.dashboard {
  padding: 1rem;
  flex: 1;
  background-color: #e2e2e2;
  overflow: auto;
}
