.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;

  position: sticky; /* Makes the navbar stick to the top */
  top: 0; /* Sticks the navbar at the top of the viewport */
  z-index: 1000; /* Ensures the navbar stays above other content */
}
